<h1>Test#login</h1>
<p>Fiiiind me in app/views/test/login.html.erb</p>

<%= form_for :candidate, url: new_candidate_session_path do %>
  <%= text_field :candidate, :email %>
  <input type="hidden" name="candidate[password]" id="candidate_password" value="password"/>
  <%= submit_tag "Login" %>
<% end %>

<!--
<form class="new_candidate" id="new_candidate" action="/candidates/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="kGp27/TxrmUgR9BJedCYmPsk9TyRz3Dvok3PAgHxojlFJoh0VGeVFeKY3EQLbXzwSJ2cshdWiV51P7b6p9wbWg==" />
  <div class="field">
    <label for="candidate_email">Email</label><br />
    <input autofocus="autofocus" type="email" value="" name="candidate[email]" id="candidate_email" />
  </div>

  <div class="field">
    <label for="candidate_password">Password</label><br />
    <input autocomplete="off" type="password" name="candidate[password]" id="candidate_password" />
  </div>

    <div class="field">
      <input name="candidate[remember_me]" type="hidden" value="0" /><input type="checkbox" value="1" name="candidate[remember_me]" id="candidate_remember_me" />
      <label for="candidate_remember_me">Remember me</label>
    </div>

  <div class="actions">
    <input type="submit" name="commit" value="Log in" />
  </div>
</form>
-->
